
body {
	font-family: 'Ubuntu', sans-serif;
	background: linear-gradient( to bottom right, #ff00ff, 	#ba55d3, #9370db, #7b68ee, #644ccc);
}

.wrapper {
	width: 70%;	
	margin: 0 auto;
}

main {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin-top: 10%;
}

h1, h2, h3 {
	text-align: center;
	font-family: 'Lemon', cursive;
}

h1, h2 {
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	text-shadow: 2px 2px hotpink;
}

h3 {
	color: #584383;
	font-size: 35px;
	letter-spacing: 2px;
}

header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	h1 {
		font-size: 22px;
		max-width: 80%;
		margin: 0 auto;
		margin-top: 2%;
	}
}

.logo-image { //logo
	margin-top: 5%;
	text-align: center;
}

.bubble { //section backgrounds
	border-radius: 30px;
	background-color: rgba(255,255,255,.5);
}

footer {
	color: #584383;
	margin: 2%;
	text-align: center;
		a {
			text-decoration: none;
			color: #584383;
		}
}

//Portrait tablet and small desktops 
@media (max-width: 940px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

	.logo-image img { //logo
		width: 90%;
	}

}

/* Landscape phones and down */
@media (max-width: 480px) {

}