
// Submit Button styles for test and slots
button {
  background: none;
  background-color: rgba(255,255,255,0.75);
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  width: 50%;
  
  // Using inset box-shadow instead of border for sizing simplicity
  box-shadow: inset 0 0 0 4px $secondaryColour;
  color: $secondaryColour;
  font-size: inherit;
  font-weight: 700;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.draw {
    transition: color 0.25s;

  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 4px solid transparent;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }
}

// Inherits from .draw
.meet {
  
  &:hover {
    color: $primaryColour;
  }

  // Start ::after in same position as ::before
  &::after {
    top: 0;
    left: 0;
  }

  // Change colors
  &:hover::before {
    border-top-color: $primaryColour;
    border-right-color: $primaryColour;
  }

  &:hover::after {
    border-bottom-color: $primaryColour;
    border-left-color: $primaryColour;
    transition: // Animate height first, then width
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s;
  }
}

//Submit button styles ends

.buttonContainer { //holds the GO button
  text-align: center;
  margin: 5% 0;
}

@media (max-width: 940px) {

  .buttonContainer {    
    margin: 5% 0;
  }
  
  .go {
    margin: 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  
  .go {
    margin-bottom: 5%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .buttonContainer {
    margin: 5% 0 2% 0;
  }
}

@media (max-width: 420px) {
  
  .wrapper {
    width: 98%;
  }
  button {
    width: 70%;
  }
}
